.about-section {
    padding-block: 2rem;
    display: grid;
    grid-template-columns: 6fr 4fr;
    padding-inline: 3rem;
    animation: fadeInUp 0.3s ease-in;
    align-items: center;

    @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(1, 1fr);
    }

    @media screen and (max-width: 768px) {
        padding-inline: 1rem;
    }

    article {
        text-align: left;
        word-break: keep-all;
        max-width: 56rem;

        h1 {
            margin-bottom: 1.5rem;
        }

        p {
            margin-bottom: 1rem;
        }

        a {
            &:hover {
                text-decoration: underline;
                color: $rp-dawn-foam;
            }
        }
    }

    .about-image {
        animation: fadeInUp 0.3s ease-out;

        img {
            max-width: 100%;
            height: auto;
            padding-top: 1em;
        }
    }
}
