.about-article {
    --measure: var(--max-width-xs);

    &--content {
        --flow-space: var(--spacing-lg);
        > * {
            --flow-space: var(--spacing-xs);
        }

        p {
            align-self: flex-start;
            padding: 8px 12px;
            border-radius: var(--border-radius-md);
            background-color: $rp-dawn-overlay;
            max-inline-size: 60%;
            overflow-wrap: break-word;
            opacity: 1;
            @supports (animation-timeline: view()) {
                animation:
                    fadeInScroll var(--duration-fast) linear forwards,
                    slideInScroll var(--duration-fast) linear forwards;
                animation-timeline: view();
                animation-range-start: entry 0%;
                animation-range-end: cover 25%;
                &:nth-child(n) {
                    animation-delay: calc((n - 1) * 0.1s);
                }
            }
        }

        a {
            color: $rp-dawn-rose;
            text-decoration: underline;
            text-decoration-thickness: 0.1em;
            text-decoration-skip-ink: none;
            transition: text-decoration-thickness var(--duration-fast) var(--ease-out-fast);

            &:hover {
                text-decoration-thickness: 0.3em;
            }

            &:focus-visible {
                outline: 3px solid $rp-dawn-rose;
            }

            &:active {
                outline: 3px dashed currentColor;
            }

            &:visited {
                color: $rp-dawn-iris;
            }

            @media (prefers-reduced-motion: reduce) {
                transition: none;
            }
        }

        blockquote {
            align-self: end;
            padding: 0;
            border-radius: var(--border-radius-md);
            max-inline-size: 60%;

            > p {
                background-color: $rp-dawn-background-alt;
                max-width: 100%;
            }
        }
    }
}

[data-theme="dark"] {
    .about-article {
        &--content {
            p {
                background-color: $rp-overlay;
            }

            a {
                color: $rp-rose;

                &:focus-visible {
                    outline-color: $rp-rose;
                }

                &:visited {
                    color: $rp-iris;
                }
            }

            blockquote {
                > p {
                    background-color: $rp-background-alt;
                }
            }
        }
    }
}
