.about-article {
    --flow-space: var(--spacing-md);

    > img,
    > figure {
        margin-inline: auto;
    }

    > figure img,
    > img {
        width: 100%;
        height: auto;
    }

    &--content {
        --flow-space: var(--spacing-lg);
        a {
            color: $rp-dawn-foam;
            text-decoration: underline;

            &:hover {
                text-underline-offset: 2px;
                text-decoration-thickness: 4px;
            }

            &:focus-visible {
                outline: 2px solid $rp-dawn-foam;
                border-radius: 0.75em;
            }
        }

        ol {
            position: relative;
            padding-inline-start: 1.3em;
            li {
                &::before {
                    content: counter(list-item);
                    position: absolute;

                    left: -0.1em;
                }
            }
        }
    }
}

[data-theme="dark"] {
    .about-article {
        &--content {
            a {
                color: $rp-foam;

                &:focus-visible {
                    outline-color: $rp-foam;
                }
            }
        }
    }
}
