.alert {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1em;
}

.alert-icon {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 767px) {
        vertical-align: text-top;
    }
}

.alert-icon svg {
    width: 24px;
    height: 24px;
}

.alert-success .alert-icon {
    background-color: adjust-color($color: $rp-dawn-pine, $lightness: 15%);
}
.alert-warning .alert-icon {
    background-color: adjust-color($color: $rp-dawn-gold, $lightness: 15%);
}
.alert-error .alert-icon {
    background-color: adjust-color($color: $rp-dawn-rose, $lightness: 15%);
}

body.dark-mode {
    .alert-content {
        color: $rp-text;
    }

    .alert-success .alert-icon {
        background-color: adjust-color($color: $rp-pine, $lightness: -10%);
    }
    .alert-warning .alert-icon {
        background-color: adjust-color($color: $rp-gold, $lightness: -45%);
    }
    .alert-error .alert-icon {
        background-color: adjust-color($color: $rp-rose, $lightness: -45%);
    }
}
