@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes highlightFade {
    from {
        background-color: oklch(from $rp-dawn-foam l c h / 0.5);
    }
    to {
        background-color: transparent;
    }
}

@keyframes fadeInScroll {
    0% {
        opacity: 0;
        filter: blur(0px);
    }
    50% {
        filter: blur(4px);
    }
    100% {
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes slideInScroll {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes scaleUpScroll {
    0% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}
