*,
*::after,
*::before {
    box-sizing: inherit;
}

*::selection {
    background: $rp-dawn-highlight-med;
}

html {
    box-sizing: border-box;
}

body {
    color: $rp-dawn-text;
    background-color: $rp-dawn-base;
    font-family: $font-body-stack;
    font-size: 1.125rem;
    line-height: 1.5;
    transition: all 0.3s ease;

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $font-display-stack;
        margin: 0;
        padding: 0;
    }

    h4, h5, h6 {
        font-weight: 400;
    }
    

    @each $heading, $size in $heading-sizes {
        #{$heading} {
            font-size: $size;
        }
    }

    p {
        margin: 0;
    }

    a {
        color: $rp-dawn-text;
        text-decoration: none;
        transition: background-color 500ms ease;

        &:focus-visible {
            box-shadow: 0 0 1px 2px $rp-dawn-foam;
        }
    }
}

body.dark-mode {
    h1, h2, h3, h4, h5, h6, p {
        color: $rp-text;
    }
    
    background-color: $rp-base;

    ::selection {
        background: $rp-highlight-med;
    }

    a {
        color: $rp-text;

        &:focus-visible {
            box-shadow: $rp-foam;
        }
    }

    footer {
        color: $rp-text;
    }
}