.colophon-article {
    --flow-space: var(--spacing-xl);

    header {
        > img {
            height: auto;
            border-radius: 0.5rem;
            margin-bottom: var(--spacing-md);
        }
    }

    &--content {
        > p {
            margin-top: var(--spacing-sm);
        }
    }
}
