.colophon-article {
    --flow-space: var(--spacing-md);

    header {
        padding-block-end: var(--spacing-lg);

        > * + * {
            --flow-space: var(--spacing-xs);
        }

        > img {
            height: auto;
            border-radius: 0.25rem;
        }
    }

    &--content {
        > h2 {
            --flow-space: var(--spacing-xl);
        }
    }
}
