footer {
    width: 100%;
    border-top: 1px solid;
    border-color: lighten($color: $rp-dawn-muted, $amount: 10%);
    padding: 0 3rem;
    margin: 3vw 0 1vw 0;

    @media screen and (max-width: 767px) {
        padding: 0 1rem;
    }

    section {
        display: grid;
        grid-template-columns: 4fr 2fr;
        margin-bottom: 7rem;
        padding-top: 2rem;

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            gap: 2rem;
            margin-bottom: 3rem;
        }
        

        #copy-email-button {
            border: none;
            background-color: $rp-dawn-base;
            font-family: $font-body-stack;
            color: $rp-dawn-text;
            margin-block: 1.5rem;
            font-size: inherit;
            padding-inline: 0.5rem;           
            cursor: pointer;
            transition: all 0.3s ease;

            .icon {
                margin-left: 4px;
                width: 16px;
                height: 16px;
            }

            .icon,
            .text {
                vertical-align: middle;
                display: inline-block;
            }

            &:hover {
                background-color: $rp-dawn-overlay;
                border-radius: 6px;

            }
        }

        .grid-left {
            display: flex;
            flex-direction: row;
            justify-content: end;
            gap: 7rem;


            div:first-of-type {
                margin-bottom: 1.5rem
            }

            h5:not(a h5) {
                font-weight: 700;
            }

            a {
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 4px;
                margin-top: 1.5rem;
                

                &:hover {
                    h5, svg {
                        color: $rp-dawn-foam;
                        transition: 400ms ease;
                    }
                }
            }

            @media screen and (max-width: 767px) {
                flex-direction: column;
                gap: 1.5rem;
                justify-content: flex-start;
            }
        }
    }

    p {
        font-family: $font-mono-stack;
        text-transform: uppercase;
        font-size: 0.8rem;
        
    }
}
body.dark-mode {

    footer {
        border-color: darken($color: $rp-muted, $amount: 10);
    }

    #copy-email-button {
        background-color: $rp-base;
        color: $rp-text;

        &:hover {
            background-color: $rp-overlay;
        }
    }

    a:hover h5 {
        color: $rp-foam;
    }
}