footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2vw auto;
    align-items: center;
    
    
    .social-line {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .social-line p {
        text-align: center;
        margin: auto;
    }

    .social-line a {
        cursor: pointer;
    }

    .social-line svg {
        width: 32px;
        height: 32px;
        transition: ease 0.5s;
        margin: 16px auto;

        &:hover {
            transform: translateY(-10px);
        }
    }
}