a {
        color: $rp-dawn-text;
        text-decoration: none;
}

//Styling header
header {
    max-width: 100%;
    padding: 0 3rem;
    margin: 2vw auto;
    display: flex;
    align-items: center;
    text-align: center;

    @media screen and (max-width: 767px) {
        padding: 0 1rem;
    }

    .left {
        flex: 1;
        justify-content: flex-start;
        text-align: start;

        .header-title {
        font-size: 1.25rem;
        }
    }

    nav {
        flex: 1;
        justify-content: flex-end;
        text-align: end;

        ul {
            display: flex;
            justify-content: end;
            gap: 18px;

            a {
                display: inline-block;
                padding: 0.5rem;
                border-radius: 8px;


                &:hover {
                    background-color: $rp-dawn-overlay;
                }

                &:focus {
                    box-shadow: 0 0 0 2px $rp-dawn-foam;
                }
            }
        }

        #dark-mode-toggle {
            align-items: center;
            width: 2.5rem;
            height: 2.5rem;
            padding: 0.5rem;
            background-color: transparent;
            border-radius: 0.75rem;
            border: none;
            cursor: pointer;
            transition: background-color 300ms ease;

            &:hover {
                background-color: $rp-dawn-overlay;
            }

            &:focus {
                box-shadow: 0 0 1px 2px $rp-dawn-foam;
            }

            svg {
                width: 24px;
                height: 24px;
                transition: transform 500ms ease;

                path {
                    stroke: $rp-dawn-text;
                    transition: stroke 300ms ease;
                }
            }

            .cs-sun,
            .cs-moon {
                transition: opacity 300ms ease;
            }

            .cs-sun {
                display: block;
                opacity: 1;
            }

            .cs-moon {
                display: none;
                opacity: 0;
            }
        }
    }
}

body.dark-mode {
    header nav .right a {
        &:hover {
            background-color: $rp-overlay;
        }

        &:focus,
        &:active {
            box-shadow: $rp-foam;
        }
    }
    #dark-mode-toggle {

            &:hover {
                background-color: $rp-overlay;
            }

            svg path {
                stroke: $rp-text;
            }

            .cs-sun {
                display: none;
                opacity: 0;
            }

            .cs-moon {
                display: block;
                opacity: 1;
            }
    }
}