/* Stack: a vertical stack of elements */
.stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Flow: add vertical rhythm between any sibling elements */
.flow > * + * {
    margin-top: var(--flow-space, 1em);
}

/* Wrapper: horizontal padding that keeps content off the viewport edes */

.wrapper {
    padding-inline: var(--spacing-md);
    padding-block: var(--spacing-2xl);
}

/* Box: a container with consistent padding and background */
.box {
    padding: var(--box-padding, var(--spacing-md));
    border-radius: 0.75em;
    background-color: var(--box-background-color, #{$rp-dawn-surface});
    border: 1px solid var(--box-border-color, #{$rp-dawn-highlight-high});
}

/* Center: this uitlity class centers content horizontally and vertically */
.center {
    box-sizing: content-box;
    margin-inline: auto;
    max-inline-size: var(--measure, 54rem);
}

/* Cluster: a cluster of elements with different lengths */
.cluster {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-md, 1rem);
}

/* Flex grid: a flexible grid layout using flexbox */
.flex-grid {
    display: flex;
    flex-wrap: wrap;
}

.flex-grid > * {
    flex: 1 1 60ch;
}

/* Grid: a grid layout */
.grid {
    display: grid;
    column-gap: var(--grid-column-gap);
    row-gap: var(--grid-row-gap);
}

@supports (width: min(20rem, 100%)) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
    }
}

/* Switcher: a flexible layout to either stack or align items */

.switcher {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-space);
}

.switcher > * {
    flex-grow: 1;
    flex-basis: calc((30rem - 100%) * 999);
}

.switcher > :nth-last-child(n + 3),
.switcher > :nth-last-child(n + 3) ~ * {
    flex-basis: 100%;
}

/* The Icon: icons and any element that will be used with an icon */
.icon {
    height: 1em;
    width: 1em;
}

.with-icon {
    display: inline-flex;

    align-items: baseline;
}

.with-icon .icon {
    margin-inline-end: var(--space, 0.25em);
}

[data-theme="dark"] {
    .box {
        background-color: var(--box-background-color, #{$rp-surface});
        border: 1px solid var(--box-border-color, #{$rp-highlight-high});
    }
}
