.now-container {
    > * {
        --flow-space: var(--spacing-lg);
    }
}

.now-box {
    > * {
        --flow-space: var(--spacing-xs);
    }

    &--intro {
        background-color: $rp-dawn-highlight-low;
    }

    &--time {
        display: inline-flex;
        font-family: $font-mono;
        font-size: var(--step--1);
    }
}

[data-theme="dark"] {
    .now-box {
        &--intro {
            background-color: $rp-highlight-low;
        }
    }
}
