.now-container {
    > * + * {
        --flow-space: var(--spacing-lg);
    }
}

.now-box {
    > * {
        --flow-space: var(--spacing-xs);
    }

    background-color: $rp-dawn-surface;

    &--time {
        display: inline-flex;
        font-family: $font-mono;
        font-size: var(--step--1);
    }
}

[data-theme="dark"] {
    .now-box {
        background-color: $rp-surface;
    }
}
