.project-content {
    margin: 3vw auto;
    word-break: keep-all;
    animation: fadeInUp 0.4s ease;
    text-align: center;

    h1 {
        line-height: 1.4;
        margin-bottom: 2rem;
    }

    h5 {
        margin-bottom: 2.5rem;
    }

    article {
        max-width: 60rem;
        text-align: left;
        margin: 0 auto;
        width: auto;
        position: relative;

        h2 {
            margin-block: 1rem;
        }

        hr {
            border: none;
            border-top: 1px solid $rp-dawn-highlight-high;
            padding-bottom: 2rem;
        }

        p {
            margin-bottom: 1em;
        }

        p img {
            max-width: 100%;
            height: auto;
            padding-top: 0.5em;
        }
    }

    @media screen and (max-width: 768px) {
        padding: 3rem 1rem;
    }
}