.project-content {
    margin: 3vw auto;
    padding-inline: 3rem;
    word-break: keep-all;

    text-align: center;

    h1 {
        line-height: 1.4;
        margin-bottom: 2rem;
    }

    h5 {
        margin-bottom: 2.5rem;
    }

    article {
        max-width: 60rem;
        text-align: left;
        margin: 0 auto;
        width: auto;
        position: relative;

        h2 {
            padding-top: 3rem;
            padding-bottom: 0.5rem;
        }

        p {
            margin-bottom: 1em;
        }

        p img {
            max-width: 100%;
            height: auto;
            padding-bottom: 1rem;
        }

        img:has(+ img) {
            padding-bottom: 0.5rem;
        }
    }

    @media screen and (max-width: 768px) {
        padding: 3rem 1rem;
    }
}
