@counter-style --fleurons {
    system: cyclic;
    symbols: ✤ ✥ ✻ ✽ ✾ ❃;
    suffix: "";
    speak-as: bullets;
}

.prose {
    text-align: start;
    --gap: var(--spacing-lg);
    --full: minmax(0, 1fr);
    --content: min(48rem, 100%);
    --popout: minmax(0, 6rem);
    --feature: minmax(0, 12rem);
    display: grid;
    row-gap: var(--gap);
    grid-template-columns:
        [full-start] var(--full)
        [feature-start] var(--feature)
        [popout-start] var(--popout)
        [content-start] var(--content) [content-end]
        var(--popout) [popout-end]
        var(--feature) [feature-end]
        var(--full) [full-end];

    > * {
        grid-column: content;

    }

    .popout {
        grid-column: popout;
    }

    .feature {
        grid-column: feature;
    }

    .full {
        grid-column: full;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:target {

          scroll-margin-top: 2ex;
          animation: highlightFade 2s var(--ease-out-slow);
      }
    }

    a[href^="https://"]:not([href*="tuansondesigns.com"]) {
        position: relative;
        &:link {
            color: $rp-dawn-rose;
            text-decoration: underline;
            text-decoration-thickness: 0.1em;
            text-decoration-skip-ink: none;
            transition: text-decoration-color var(--duration-fast)
                var(--ease-out-fast),
                text-decoration-thickness var(--duration-fast) var(--ease-out-fast);
        }

        &:hover {
            text-decoration-thickness: 0.3em;
            text-underline-offset: 0.3em;
        }

        &:focus-visible {
            outline: 3px solid $rp-dawn-rose;

        }

        &:active {
            outline: 3px dashed currentColor;
        }

        &:visited {
            color: $rp-dawn-iris;
        }

        &:after {
            content: "↗";
            line-height: 1;
            text-decoration: none;
            margin-inline-start: 0.1em;
        }

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }
    }

    ol {
        list-style: none;
        counter-reset: orderedList;
        padding-inline-start: 1lh;

        li {
            margin-block-end: var(--spacing-sm);
            padding-inline-start: 0.5em;
            position: relative;

            &::before {
                position: absolute;
                inset-inline-start: 0;
                counter-increment: orderedList;
                content: counter(orderedList);
                width: 1.5rem;
                inset-block-start: 0;
                inset-inline-start: -1.75lh;
                padding-block: 0.25em;

                text-box: trim-start cap alphabetic;
                text-align: center;
                line-height: 1;
                border-radius: 0.25em;
            }
        }
    }

    ul {
        list-style: none;
        padding-inline-start: 2.5em;
        line-height: 1.25em;

        li {
            margin-block-end: var(--spacing-sm);
            padding-inline-start: 0.5em;
            position: relative;
            text-box: trim-start cap alphabetic;

            &::before {
                position: absolute;
                inset-block-start: 0;
                inset-inline-start: -1.25em;
                inline-size: 1em;
                text-box: trim-start cap alphabetic;
                text-align: end;
                font-size: 1.25em;
                line-height: 1;
                font-weight: bold;
                color: $rp-dawn-rose;
                content: counter(list-item, --fleurons);
            }
        }
    }

    figure {
        grid-column: full;

        &.popout {
            > :not(figcaption) {
                grid-column: popout;
                @media (width < 860px) {
                    grid-column: full;
                }
            }
        }

        &.feature {
            > :not(figcaption) {
                grid-column: feature;
                @media (width < 860px) {
                    grid-column: full;
                }
            }
        }

        &.full {
            > :not(figcaption) {
                grid-column: full;
            }
        }

        img {
            width: 100%;
            height: auto;
            outline-color: $rp-dawn-highlight-med;
            background-color: $rp-dawn-surface;
        }

        figcaption {
            margin-block-start: var(--spacing-xs);
            font-size: var(--text-step--1);
            line-height: var(--line-height-caption);
            grid-column: content;
        }
    }

    blockquote {
        margin-inline: 0;
        padding-block: 0.5rem;
        padding-inline: 1.5rem;
        background-color: $rp-dawn-highlight-low;
        border: 1px solid $rp-dawn-highlight-high;
        border-inline-start: 3px solid $rp-dawn-highlight-high;
    }

    hr {
        border: 0;
        text-align: center;
        color: $rp-dawn-love;
        &::before {
            content: "✿ ❀ ✿";
            display: block;
        }
    }

    .heading-anchor {
        width: 0.75em;
        height: 0.75em;
        color: currentColor;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }
}


[data-theme="dark"] {
    .prose {
        a[href^="https://"] {
            color: $rp-rose;

            &:focus-visible {
                outline-color: $rp-rose;
            }
            &:visited {
                color: $rp-iris;
            }
        }

        figure {
            img {
                outline-color: $rp-highlight-med;
                background-color: $rp-surface;
            }
        }

        ul {
            li {
                &::before {
                    color: $rp-rose;
                }
            }
        }

        blockquote {
            background-color: $rp-highlight-low;
            border-color: $rp-highlight-high;
            border-inline-start: 0.3rem solid $rp-highlight-high;
        }

        hr {
            color: $rp-love;
        }
    }
}
