.project-info {
    border-block: 1px solid $rp-dawn-highlight-med;
    --measure: 48rem;
    --box-padding: var(--spacing-sm);
    margin-block: var(--spacing-md);

    > * + * {
        --flow-space: var(--spacing-md);
    }

    &--block {
        --gap-space: var(--spacing-xs);


        dt {
            font-weight: var(--font-weight-bold);
            max-width: 140px;

        }

        dd {
            flex: 1;
            ul {
                column-gap: var(--spacing-xs);
                display: flex;
                flex-wrap: wrap;

                .collaborator {
                    position: relative;
                    display: inline;
                    padding-inline-start: var(--spacing-md);
                    text-decoration: underline;
                    color: $rp-dawn-subtle;
                    text-decoration-color: $rp-dawn-subtle;
                    transition: color var(--duration-fast) var(--ease-out-fast), text-decoration-color var(--duration-fast) var(--ease-out-fast);

                    &::after {
                        content: ",";
                        color: inherit;
                    }

                    @media (hover: hover) {
                        &:hover {
                            color: $rp-dawn-text;
                            text-decoration-color: $rp-dawn-text;
                        }
                    }

                    &:active {
                        outline: 1px dashed currentColor;
                    }

                    .avatar {
                        background: $rp-dawn-surface;
                        outline: $rp-dawn-highlight-low;
                        width: var(--spacing-sm);
                        height: var(--spacing-sm);
                        border-radius: var(--border-radius-full);
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}

[data-theme="dark"] {
    .project-info {
        border-color: $rp-highlight-med;

        dd {
            .collaborator {
                color: $rp-subtle;
                text-decoration-color: $rp-muted;

                &:hover {
                    color: $rp-text;
                    text-decoration-color: $rp-text;
                }

                .avatar {
                    background: $rp-surface;
                    outline: $rp-highlight-low;
                }
            }
        }
    }
}
