@counter-style --fleurons {
    system: cyclic;
    symbols: ✤ ✥ ✻ ✽ ✾ ❃;
    suffix: "";
    speak-as: bullets;
}

.prose {
    a {
        &:link {
            color: $rp-dawn-rose;
            text-decoration: underline;
            text-decoration-thickness: 0.1em;
            text-decoration-skip-ink: none;
            transition: text-decoration-color var(--duration-fast)
                var(--ease-out-fast),
                text-decoration-thickness var(--duration-fast) var(--ease-out-fast);
        }

        &:hover {
            text-decoration-thickness: 0.3em;
            text-underline-offset: 0.3em;
        }

        &:focus-visible {
            outline: 3px solid $rp-dawn-rose;

        }

        &:active {
            outline: 3px dashed currentColor;
        }

        &:visited {
            color: $rp-dawn-iris;
        }

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }
    }

    ol {
        list-style: none;
        counter-reset: orderedList;
        padding-inline-start: 1lh;

        li {
            margin-block-end: var(--spacing-sm);
            padding-inline-start: 0.5em;
            position: relative;

            &::before {
                position: absolute;
                inset-inline-start: 0;
                counter-increment: orderedList;
                content: counter(orderedList);
                width: 1.5rem;
                inset-block-start: 0;
                inset-inline-start: -1.75lh;
                padding-block: 0.25em;

                text-box: trim-start cap alphabetic;
                text-align: center;
                line-height: 1;
                border-radius: 0.25em;
            }
        }
    }

    ul {
        list-style: none;
        padding-inline-start: 2.5em;
        line-height: 1.25em;

        li {
            margin-block-end: var(--spacing-sm);
            padding-inline-start: 0.5em;
            position: relative;
            text-box: trim-start cap alphabetic;

            &::before {
                position: absolute;
                inset-block-start: 0;
                inset-inline-start: -1.25em;
                inline-size: 1em;
                text-box: trim-start cap alphabetic;
                text-align: end;
                font-size: 1.25em;
                line-height: 1;
                font-weight: bold;
                color: $rp-dawn-rose;
                content: counter(list-item, --fleurons);
            }
        }
    }

    img,
    figure {
        width: 100%;
        max-width: 1280px;
        margin-inline: auto;
    }

    figure img {
        height: auto;
        border-radius: 0.25em;
        outline: 1px solid $rp-dawn-highlight-med;
        font-size: inherit;
        color: inherit;
        aspect-ratio: auto 16/9;
        background-color: $rp-dawn-surface;
        opacity: 1;
        @supports (animation-timeline: view()) {
            animation:
                fadeInScroll 200ms var(--ease-out-slow),
                scaleUpScroll 200ms var(--ease-out-slow);
            animation-timeline: view();
            animation-range: entry;
        }
    }

    figcaption {
        margin-block-start: var(--spacing-xs);
        font-size: var(--text-step--1);
        line-height: var(--line-height-caption);
    }

    blockquote {
        margin-inline: 0;
        padding-block: 0.5rem;
        padding-inline: 1.5rem;
        background-color: $rp-dawn-highlight-low;
        border: 1px solid $rp-dawn-highlight-high;
        border-inline-start: 3px solid $rp-dawn-highlight-high;
    }

    hr {
        border: 0;
        text-align: center;
        color: $rp-dawn-love;
        &::before {
            content: "✿ ❀ ✿";
            display: block;
        }
    }

    .heading-anchor {
        width: 0.75em;
        height: 0.75em;
        color: currentColor;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }
}

[data-theme="dark"] {
    .prose {
        a {
            color: $rp-rose;

            &:focus-visible {
                outline-color: $rp-rose;
            }
            &:visited {
                color: $rp-iris;
            }
        }

        ul {
            li {
                &::before {
                    color: $rp-rose;
                }
            }
        }

        figure img,
        img {
            outline-color: $rp-highlight-med;
            background-color: $rp-surface;
        }

        blockquote {
            background-color: $rp-highlight-low;
            border-color: $rp-highlight-high;
            border-inline-start: 0.3rem solid $rp-highlight-high;
        }

        hr {
            color: $rp-love;
        }
    }
}
