.project-info {
    border-block: 1px solid $rp-dawn-highlight-high;
    padding-block: var(--spacing-sm);
}

.project-meta {
    --threshold: 30rem;
    --gap-space: var(--spacing-sm);
}

[data-theme="dark"] {
    .project-info {
        border-color: $rp-highlight-high;
    }
}
