.readings-header {
    --flow-space: var(--spacing-md);
}

.readings-grid {
    margin-block: var(--spacing-xl);
    --grid-column-gap: var(--spacing-lg);
    --grid-row-gap: var(--spacing-lg);
}

.reading-card {
    --flow-space: var(--spacing-sm);

    cursor: pointer;

    &_format {
        display: inline-block;
        color: $rp-dawn-text;
        border: 1px solid $rp-dawn-highlight-high;
        border-radius: 0.25em;
        padding: 3px 9px;
    }

    &_author {
        text-transform: uppercase;

        color: $rp-dawn-subtle;
    }

    &_link {
        display: inline-block;

        &:hover {
            text-decoration: underline;
        }

        &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 24px;
            height: 24px;
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6.343 17.657L17.657 6.343m0 0v8.485m0-8.485H9.172'/%3E%3C/svg%3E");
            background-color: $rp-dawn-text;
        }
    }

    &:hover {
        --box-border-color: #{$rp-dawn-foam};
        --box-background-color: #{$rp-dawn-overlay};
    }

    &:focus-visible {
        outline: 2px solid $rp-dawn-foam;
    }

    &:focus-within a {
        color: $rp-dawn-foam;
        text-decoration: underline;
        text-decoration-color: $rp-dawn-foam;
        text-underline-offset: 2px;
    }

    @media (prefers-reduced-motion: no-preference) {
        transition: transform 0.2s ease-in-out;
    }
}

[data-theme="dark"] {
    .reading-card {
        &_format {
            border-color: $rp-highlight-high;
        }

        &_author {
            color: $rp-subtle;
        }

        &_link {
            &:after {
                background-color: $rp-text;
            }
        }

        &:hover {
            --box-border-color: #{$rp-foam};
            --box-background-color: #{$rp-overlay};
        }

        &:focus-visible {
            outline: 2px solid $rp-foam;
        }

        &:focus-within a {
            color: $rp-foam;
            text-decoration: underline;
            text-decoration-color: $rp-foam;
            text-underline-offset: 2px;
        }

        &_format {
            color: $rp-subtle;
        }
    }
}
