.slashes-list {

    --flow-space: var(--spacing-md);
}

.slash-entry {
    position: relative;
    --box-padding: var(--spacing-sm);
    --gap-space: var(--spacing-xs);
    transition: scale var(--duration-fast) var(--ease-out-fast);

    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }

    span {
        font-size: var(--text-step--1);
    }

    &::before {
        content: "";
        border-radius: inherit;
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 16px 16px 0 0 $rp-love;
        opacity: 0;
        transition: all var(--duration-fast) var(--ease-out-fast);
        -webkit-transition: all var(--duration-fast) var(--ease-out-fast);
    }

    &::after {
        content: "";
        border-radius: inherit;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 8px 8px 0 0 $rp-rose;
        opacity: 0;
        transition: all var(--duration-fast) var(--ease-out-fast);
        -webkit-transition: all var(--duration-fast) var(--ease-out-fast);
    }

    &:hover {
        transform: scale(1.02, 1.02);
    }

    &:hover::after {
        opacity: 1;
    }

    &:hover::before {
        opacity: 1;
    }


    &:focus-visible {
        outline: 3px solid $rp-dawn-rose;
    }

    &:active {
        scale: 0.98;
    }

    &:focus-within {
        color: $rp-dawn-rose;
        text-decoration: underline;
    }
}

[data-theme="dark"] {
    .slash-entry {
        &:hover {
            outline-color: $rp-rose;
        }

        &:focus-visible {
            outline-color: $rp-rose;
        }

        &:focus-within {
            color: $rp-rose;
        }
    }
}
