.slashes-list {

    --flow-space: var(--spacing-md);
}

.slash-entry {
    display: flex;
    --threshold: 30rem;
    --box-padding: var(--spacing-sm);
    --gap-space: var(--spacing-sm);
    transition:
        box-shadow 250ms var(--ease-out-fast),
        scale 250ms var(--ease-out-fast);

    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }

    span {
        font-size: var(--text-step--1);
    }

    &:hover {
        --box-background-color: #{$rp-dawn-overlay};
        --box-border-color: #{$rp-dawn-rose};
        color: $rp-dawn-rose;
        box-shadow: 6px 6px 0 0 $rp-dawn-rose;
        scale: 1.01;
    }

    &:focus-visible {
        outline: 3px solid $rp-dawn-rose;
    }

    &:active {
        scale: 0.98;
    }

    &:focus-within {
        color: $rp-dawn-rose;
        text-decoration: underline;
    }
}

.slash-summary {
    flex-grow: 5;
}

[data-theme="dark"] {
    .slash-entry {
        &:hover {
            --box-background-color: #{$rp-overlay};
            --box-border-color: #{$rp-rose};
            color: $rp-rose;
            box-shadow: 6px 6px 0 0 $rp-rose;
            scale: 1.01;
        }

        &:focus-visible {
            outline-color: $rp-rose;
        }

        &:focus-within {
            color: $rp-rose;
        }
    }
}
