//Body font
@mixin font-face($name, $path, $weight: 400, $style: normal) {
    @font-face {
        font-family: $name;
        font-style: $style;
        font-weight: $weight;
        font-display: swap;
        src: url("#{$path}.woff2") format("woff2");
    }
}

@include font-face(
    "Atkinson Hyperlegible Next",
    "/fonts/atkinson-hyperlegible-next-regular",
    400
);
@include font-face(
    "Atkinson Hyperlegible Next",
    "/fonts/atkinson-hyperlegible-next-bold",
    700
);

@include font-face("Sentient", "/fonts/sentient-bold", 700);
@include font-face("Sentient", "/fonts/sentient-regular", 400);

//Monoface font
@font-face {
    font-family: "Adwaita Mono";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url("/fonts/adwaita-mono-regular.ttf") format("ttf");
}

//Typography used
$font-body-stack: "Atkinson Hyperlegible Next", sans-serif;
$font-display-stack: "Sentient", serif;
$font-mono-stack: "Adwaita Mono", monospace;

//Font size for headings
$heading-sizes: (
    h1: clamp(1.618rem, calc(1.359rem + 1.297vw), 2.331rem),
    h2: clamp(1.378rem, calc(1.24rem + 0.691vw), 1.758rem),
    h3: clamp(1.272rem, calc(1.179rem + 0.463vw), 1.527rem),
    h4: clamp(1.174rem, calc(1.119rem + 0.276vw), 1.326rem),
    h5: clamp(1.128rem, calc(1.089rem + 0.196vw), 1.236rem),
    h6: clamp(1.084rem, calc(1.059rem + 0.124vw), 1.152rem),
);

//Rose Pine Dawn (Light variant)
$rp-dawn-base: oklch(0.9699 0.0113 71.9);
$rp-dawn-surface: oklch(0.987 0.0107 76.6);
$rp-dawn-overlay: oklch(0.9389 0.0145 64.34);
$rp-dawn-muted: oklch(0.6734 0.0268 298.37);
$rp-dawn-subtle: oklch(0.5768 0.0458 291);
$rp-dawn-text: oklch(0.4597 0.0629 289.56);
$rp-dawn-love: oklch(0.5989 0.1071 2.66);
$rp-dawn-gold: oklch(0.7555 0.1459 69.74);
$rp-dawn-rose: oklch(0.6957 0.1058 23.03);
$rp-dawn-pine: oklch(0.4909 0.077 228);
$rp-dawn-foam: oklch(0.6289 0.0661 210.12);
$rp-dawn-iris: oklch(0.6171 0.0738 305.7);
$rp-dawn-highlight-low: oklch(0.9502 0.0101 58.21);
$rp-dawn-highlight-med: oklch(0.892 0.0057 31.05);
$rp-dawn-highlight-high: oklch(0.8431 0.006 334);

//Rose Pine (Dark variant)
$rp-base: oklch(0.2134 0.0255 291.13);
$rp-surface: oklch(0.2413 0.0322 289.14);
$rp-overlay: oklch(0.2708 0.0423 289.23);
$rp-muted: oklch(0.5383 0.0435 291.41);
$rp-subtle: oklch(0.6539 0.0444 291.23);
$rp-text: oklch(0.9088 0.0299 289.97);
$rp-love: oklch(0.6977 0.1565 4.22);
$rp-gold: oklch(0.8429 0.11 74.6);
$rp-rose: oklch(0.8363 0.0544 21.14);
$rp-pine: oklch(0.5277 0.0793 227.72);
$rp-foam: oklch(0.8219 0.0543 209.56);
$rp-iris: oklch(0.776 0.0945 304.99);
$rp-highlight-low: #21202e;
$rp-highlight-med: #403d52;
$rp-highlight-high: #524f67;
