//Body font
@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('/fonts/atkinson-hyperlegible-next-regular.woff2') format('woff2');
}

//Display font
@font-face {
    font-family: 'LINE Seed Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url('/fonts/line-seed-sans-bold.woff2');
}

//Typography used
$font-body-stack: 'Atkinson Hyperlegible Next', sans-serif;
$font-display-stack: 'LINE Seed Sans', sans-serif;


//Font size for headings
$heading-sizes: (
    h1: clamp(1.75rem, 5vw, 2.75rem),
    h2: clamp(1.5rem, 4vw, 2rem),
    h3: clamp(1.35rem, 3.5vw, 1.75rem),
    h4: clamp(1.25rem, 3vw, 1.5rem),
    h5: clamp(1.15rem, 2vw, 1.25rem),
    h6: 1rem,
);


//Color schemes refernced from Rose Pine Dawn
$bg-color: #faf4ed;
$fg-color: #fffaf3;
$overlay-color: #f2e9e1;
$muted-color:#9893a5;
$suble-color: #797593;
$text-color: #575279 !default;
$rp-love: #b4637a;
$rp-gold: #ea9d34;
$rp-rose: #d7827e;
$rp-pine: #286983;
$rp-foam: #56949f;
$rp-iris: #907aa9;
$rp-hightlight-low: #f4ede8;
$rp-highlight-med: #dfdad9;
$rp-highlight-high: #cecacd;

