//Body font
@mixin font-face($name, $path, $weight: 400, $style: normal) {
    @font-face {
        font-family: $name;
        font-style: $style;
        font-weight: $weight;
        font-display: swap;
        src: url("#{$path}.woff2") format("woff2");
    }
}

@include font-face(
    "Atkinson Hyperlegible Next",
    "/fonts/atkinson-hyperlegible-next-regular",
    400
);
@include font-face(
    "Atkinson Hyperlegible Next",
    "/fonts/atkinson-hyperlegible-next-bold",
    700
);

@include font-face("LINE Seed Sans", "/fonts/line-seed-sans-bold", 700);
@include font-face("LINE Seed Sans", "/fonts/line-seed-sans-regular", 400);

//Monoface font
@font-face {
    font-family: "Adwaita Mono";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url("/fonts/adwaita-mono-regular.ttf") format("ttf");
}

//Typography used
$font-body-stack: "Atkinson Hyperlegible Next", sans-serif;
$font-display-stack: "LINE Seed Sans", sans-serif;
$font-mono-stack: "Adwaita Mono", monospace;

//Font size for headings
$heading-sizes: (
    h1: clamp(1.75rem, 5vw, 2.75rem),
    h2: clamp(1.5rem, 4vw, 2.25rem),
    h3: clamp(1.25rem, 3.5vw, 1.75rem),
    h4: clamp(1.2rem, 3vw, 1.5rem),
    h5: clamp(1.125rem, 2vw, 1.25rem),
    h6: 1rem,
);

//Rose Pine Dawn (Light variant)
$rp-dawn-base: #faf4ed;
$rp-dawn-surface: #fffaf3;
$rp-dawn-overlay: #f2e9e1;
$rp-dawn-muted: #9893a5;
$rp-dawn-subtle: #797593;
$rp-dawn-text: #575279;
$rp-dawn-love: #b4637a;
$rp-dawn-gold: #ea9d34;
$rp-dawn-rose: #d7827e;
$rp-dawn-pine: #286983;
$rp-dawn-foam: #56949f;
$rp-dawn-iris: #907aa9;
$rp-dawn-highlight-low: #f4ede8;
$rp-dawn-highlight-med: #dfdad9;
$rp-dawn-highlight-high: #cecacd;

//Rose Pine (Dark variant)
$rp-base: #191724;
$rp-surface: #1f1d2e;
$rp-overlay: #26233a;
$rp-muted: #6e6a86;
$rp-subtle: #908caa;
$rp-text: #e0def4;
$rp-love: #eb6f92;
$rp-gold: #f6c177;
$rp-rose: #ebbcba;
$rp-pine: #31748f;
$rp-foam: #9ccfd8;
$rp-iris: #c4a7e7;
$rp-highlight-low: #21202e;
$rp-highlight-med: #403d52;
$rp-highlight-high: #524f67;
