@use '../base/variables' as *;

.header {
    view-transition-name: header;
}

.header-logo {
    display: flex;
    align-items: center;

    span {
        display: inline-block;
        line-height: 1;
        margin-inline-start: 0.5rem;
        font-family: $font-mono;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        top: -4px;
    }

    &:hover {
        opacity: 0.8;
    }
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-sm);
    align-items: center;
    --measure: 1600px;
}

.navigation-wrapper {
    align-items: center;
    flex: 1;
}

.desktop-nav {
    display: none;
}


@media (min-width: 70em) {
    .desktop-nav {
        display: block;
    }

    .mobile-nav {
        display: none;
    }
}

.navigation-menu {
    display: flex;
    gap: var(--spacing-md);
    align-items: center;
    margin-inline-start: 2rem;
}

.navigation-menu a {
    position: relative;
    display: inline-block;
    transition: font-weight var(--duration-fast) var(--ease-out-fast);

    &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        transform: scaleX(0);
        transform-origin: left center;
        background-color: $rp-dawn-text;
        transition:
            transform var(--duration-fast),
            background-color var(--duration-fast) var(--ease-out-fast);
        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }
    }

    &:hover::before {
        transform: scaleX(1);
        transform-origin: left center;
        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }
    }

    &:hover, &:focus-visible {
        font-weight: 700;
    }

    &[aria-current="page"] {
        color: $rp-dawn-rose;
        font-weight: 700;
        &::before {
            transform: scaleX(1);
            background-color: $rp-dawn-rose;
        }
    }
}

#dark-mode-toggle {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
    padding: 0.5rem;
    width: auto;
    transition:
        background-color 200ms ease-out,
        backdrop-filter 200ms ease-out;

    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }

    &:hover {
        background-color: $rp-dawn-overlay;
        transition: 200ms ease-in;
    }

    &:focus-visible {
        outline: 1px solid $rp-dawn-rose;
    }

    svg {
        width: 24px;
        height: 24px;

        &:active {
            scale: 0.92;
        }
    }
}

.cs-sun {
    display: block;
}

.cs-moon {
    display: none;
}

[data-theme="dark"] {
    
    #dark-mode-toggle {
        &:hover {
            background-color: $rp-overlay;
        }

        &:focus-visible {
            outline-color: $rp-rose;
        }
    }

    .cs-sun {
        display: none;
    }

    .cs-moon {
        display: block;
    }

    .navigation-menu a {
        &::before {
            background-color: $rp-text;
        }

        &[aria-current="page"] {
            color: $rp-rose;

            &::before {
                background-color: $rp-rose;
            }
        }
    }
}
