@use '../base/variables' as *;

.project-page {
    header {
        margin-block-end: var(--spacing-xl);
    }
    
    &--content {
        padding-block-start: var(--spacing-2xl);
        padding-block-end: var(--spacing-xl);
    }
}

.project-summary {
    --flow-space: var(--spacing-sm);
}

.feature-content {
    p {
        margin: 0;
    }
}


