{{ define "main" }}
<div class="home-intro">
    <h1 class="text-intro">
        I am Tuan Son, a Hanoi-based UI/UX designer. I bridge the gap between
        design and code, applying gamification mechanics to create digital
        experiences that are intuitive, engaging, and human-centric.
    </h1>
</div>
<ul class="projects-section">
    {{ range where .Site.RegularPages "Type" "work" }} {{ $project := . }}
    <li>
        <a href="{{ .RelPermalink }}">
            <span class="year-chip">{{ .Params.year }}</span>
            <div class="project-image">
                {{ with .Params.cover }} {{ $image :=
                $project.Resources.GetMatch . }} {{ with $image }}
                <img src="{{ .RelPermalink }}" alt="{{ $project.Title }}" />
                {{ end }} {{ end }}
            </div>
            <h3>{{ .LinkTitle }}</h3>
            <p>{{ .Params.description }}</p>
        </a>
    </li>
    {{ end }}
</ul>
{{ end }}
