{{ define "main" }}
<div class="about-section">
    <article class="about-article">
        <h1>{{ .Params.title }}</h1>
        {{ .Content }}
    </article>
    <div class="about-image">
        {{ if .Params.image }} {{ $image := resources.Get .Params.image }} {{ if
        $image }}
        <img
            src="{{ $image.RelPermalink}}"
            alt="An image of the creator - Tuan Son is giving his presentation in Designathon which was hosted in 2025"
        />
        {{ end }} {{ end }}
    </div>
</div>
{{ end }}
