{{ define "main" }}
<div class="[ wrapper ]">
    <article class="[ about-article ] [ center ] [ flow ] [ h-card ]">
        <header>
            <h1>About me</h1>
            <p>Pushing pixels (with intent)</p>
        </header>
        <div class="[ about-article--content ] [ flow ] e-note">
            {{ .Content }}
        </div>
        <figure>
            <img
                src="/images/about-me-dithered.png"
                loading="lazy"
                alt="An dithered image showing Tuan Son - the creator of the site is giving his presentation"
                class="about-image"
            />
            <figcaption class="text-center">
                Me giving my presentation at Lollypop hackathon, Ho Chi Minh,
                2025
            </figcaption>
        </figure>
        <a class="u-url" href="{{ .Site.BaseURL }}" hidden></a>
    </article>
</div>
{{ end }}
