<header>
    <div class="left">
        <a aria-label="tuanson.kisei.portfolio" href="/">
            <div class="header-title">
                <div class="header-logo">
                </div>
                <a class="header-title" href="/">
                    Tuan Son
                </a>
            </div>
        </a>
    </div>
    <nav>
        <ul class="right">
            <li>
                <a href="{{ relURL "" }}">Work</a>
            </li>
            <li>
                <a href="{{ "about" | relURL }}">About</a>
            </li>
            <li>
                <a href="{{ "resume.pdf" | absURL }}" target="_blank" rel="noopener noreferrer">Resume</a>
            </li>
        </ul>
    </nav>
</header>