{{- $src := .src -}}
{{- $alt := .alt | default "" -}}
{{- $priority := .priority | default "lazy" -}}
{{- $img := resources.Get $src -}}

<!-- Resolve loading attributes from priority -->

{{- $loading := "lazy" -}}
{{- $fetchpriority := "auto" -}}
{{- $decoding:="async" -}}

{{- if eq $priority "high" -}}
    {{- $loading = "eager" -}}
    {{- $fetchpriority = "high" -}}
    {{- $decoding = "sync" -}}
{{- else if eq $priority "low" -}}
    {{- $fetchpriority = "low" -}}
{{- end -}}

{{- if $img -}}
    {{- $mediaType := $img.MediaType.SubType -}}

{{- $small := $img.Resize "600x" -}}
{{- $medium := $img.Resize "800x" -}}
{{- $large := $img.Resize "1200x" -}}

{{- if or (eq $mediaType "png") (eq $mediaType "jpeg") -}}
<!-- png, jpg, etc — resize and serve as-is -->
<img
    srcset="{{ $small.RelPermalink }} 600w, {{ $medium.RelPermalink }} 800w, {{ $large.RelPermalink }} 1200w"
    sizes="(max-width: 600px) 100vw, (max-width: 800px) 800px, 1200px"
    src="{{ $medium.RelPermalink }}"
    width="{{ $medium.Width }}"
    height="{{ $medium.Height }}"
    alt="{{ $alt }}"
    loading="{{ $loading }}"
    fetchpriority="{{ $fetchpriority }}"
    decoding="{{ $decoding }}"
/>
{{- end -}}

{{- if eq $mediaType "webp" -}}
  <img
      src="{{ $img.RelPermalink }}"
      width="{{ $img.Width }}"
      height="{{ $img.Height }}"
      alt="{{ $alt }}"
      loading="{{ $loading }}"
      fetchpriority="{{ $fetchpriority }}"
      decoding="{{ $decoding }}"
  />
{{- end -}}

{{- end -}}
