<dl class="[ project-info ] center box flow">
    <div class="project-info--block switcher">
        <dt>Timeline</dt>
        <dd>{{ $.Page.Params.timeline }}</dd>
    </div>
    <div class="project-info--block switcher">
        <dt>My Role</dt>
        <dd>{{ $.Page.Params.role }}</dd>
    </div>
    <div class="project-info--block switcher">
        <dt>Collaborators</dt>
        <dd>
            <ul class="cluster" role="list">
                {{ range $.Page.Params.collaborators }}
                      <li><a href="{{ .linkedin }}" class="collaborator">
                          <img src="{{ .avatar }}" alt="A photo of {{ .name }}" class="avatar" />
                          {{- .name -}}
                      </a></li>
                {{ end }}
              </ul>
        </dd>
    </div>
</dl>
