{{ define "main" }}
    <main class="page-404">
        <pre>
████████ ████████  ████████   ███████  ████████  
██       ██     ██ ██     ██ ██     ██ ██     ██ 
██       ██     ██ ██     ██ ██     ██ ██     ██ 
██████   ████████  ████████  ██     ██ ████████  
██       ██   ██   ██   ██   ██     ██ ██   ██   
██       ██    ██  ██    ██  ██     ██ ██    ██  
████████ ██     ██ ██     ██  ███████  ██     ██ 
        </pre>
        <span>Page not found</span>
        <p>Sorry the page you looking for doesn't exist or has been moved</p>
    </main>
{{ end }}