{{ define "main" }}
<div class="[ wrapper center ]">
    <header class="[ readings-header ]">
        <h1>Readings</h1>
        <p>
            Blog posts, articles, videos, books I've recently read, enjoyed and
            recommend. From who having brighter minds than me.
        </p>
    </header>
    <div class="[ readings-grid ] [ grid ]">
        {{ range sort site.Data.recentReading.readings "title" }} {{ partial
        "recent-reading-card.html" . }} {{ end }}
    </div>
</div>
{{ end }}
