
@use '../base/variables' as *;

.badges-wrapper {
    --flow-space: var(--spacing-lg);
}

.badges-notes {
    .box {
        --flow-space: var(--spacing-lg);

        > p {
            margin-top: var(--spacing-xs);
        }
    }
}

.badges-container {
    gap: var(--spacing-xs);
    justify-content: center;
    align-items: center;

    img {
        image-rendering: pixelated;
        aspect-ratio: auto 88/31;
        
        &:hover {
            filter: brightness(1.2);
        }

        &:focus-visible {
            outline: 3px solid currentColor;
        }
    }
}