
@use '../base/variables' as *;

.blog-list {
    > * {
        --flow-space: var(--spacing-lg);
    }

    a {
        display: block;
        --flow-space: var(--spacing-sm);
        
        .metadata {
            font-size: var(--text-step--1);
            gap: var(--spacing-sm);
            color: $rp-dawn-subtle;
        }
    }
}

[data-theme="dark"] {
    a {
        .metadata {
            color: $rp-subtle;
        }
    }
}
