
@use '../base/variables' as *;

.homepage {
    --flow-space: var(--spacing-2xl);

    section {
        > * {
            --flow-space: var(--spacing-md);
        }

        #greeting {
            font-size: var(--text-step--1);
            color: $rp-dawn-subtle;

            i {
                margin-inline-start: 4px;
            }
        }
    }

    &__webring {
        &-textLink {
            text-decoration: underline;
            text-decoration-color: oklch(from $rp-dawn-text l c h / 0.4);
            text-decoration-thickness: 0.1em;
            transition: text-decoration-color var(--duration-fast)
                var(--ease-out-fast),
                text-decoration-thickness var(--duration-fast) var(--ease-out-fast);

            &:hover {
                text-decoration-color: currentColor;
                text-decoration-thickness: 0.3em;
            }
            
            &:focus-visible {
                outline: 3px solid $rp-dawn-rose;
            }

        }
    }

    &__projects {
        margin-block-start: var(--spacing-md);
        
        > * {
            --flow-space: var(--spacing-lg);
        }

        &-card {
            &:focus-within {
                h3,
                p {
                    text-decoration: underline;
                    text-underline-offset: 2px;
                }
            }

            &-info {
                &-year,
                &-category {
                    text-transform: capitalize;
                    border-radius: var(--border-radius-xs);
                    font-size: var(--text-step--1);
                    border: 1px solid $rp-dawn-highlight-low;
                    background-color: $rp-dawn-base;
                    padding: 3px 9px;
                    font-family: $font-mono;
                    color: $rp-dawn-subtle;
                }
            }
        }
    }
}

[data-theme="dark"] {
    .homepage {
        #greeting {
            color: $rp-subtle;
        }

        &__webring {
            &-textLink {
                text-decoration-color: oklch(from $rp-text l c h / 0.4);

                &:hover {
                    text-decoration-color: currentColor;
                }
            }
        }

        &__projects-card {
            &-info {
                &-year,
                &-category {
                    background-color: $rp-overlay;
                    border: 1px solid $rp-highlight-low;
                    color: $rp-subtle;
                }
            }
        }
    }
}
