
@use '../base/variables' as *;

.slashes-list {
    > * {
        --flow-space: var(--spacing-md);
    }
}

.slash-entry {
    span {
        font-size: var(--text-step--1);
    }
}

[data-theme="dark"] {
    .slash-entry {
        &:hover {
            outline-color: $rp-rose;
        }

        &:focus-visible {
            outline-color: $rp-rose;
        }

        &:focus-within {
            color: $rp-rose;
        }
    }
}
