{{ define "main" }} {{ $paginator := .Paginate (sort .Pages "Title") }}

<div class="wrapper flow center reading-wrapper">
    <div>
        <h1>Links</h1>
        <p>
            Links, notes that I've recently read and put on here for reference.
        </p>
    </div>
    <hr />
    <ol class="stack flow reading-list">
        {{ range $paginator.Pages }} {{ partial "recent-reading-item.html" . }}
        {{ end }}
    </ol>
    <nav class="reading-pagination">
        {{ with $paginator }} {{ if .HasPrev }}
        <a href="{{ .Prev.URL }}">&laquo; Newer entries</a>
        {{ else }}
        <span>&laquo; Newer entries</span>
        {{ end }}

        <span>Page {{ .PageNumber }} of {{ .TotalPages }}</span>

        {{ if .HasNext }}
        <a href="{{ .Next.URL }}">Older entries &raquo;</a>

        {{ else }}
        <span>Older entries &raquo;</span>
        {{ end }} {{ end }}
    </nav>
</div>
{{ end }}
