<div class="project-info">
    <div class="project-info-grid">
        <div class="project-info-item">
            <b class="project-info-item_label">ROLE</b>
            <p class="project-info-item_value">{{ $.Page.Params.role }}</p>
        </div>
        <div class="project-info-item">
            <b class="project-info-item_label">TIMELINE</b>
            <p class="project-info-item_value">{{ $.Page.Params.timeline }}</p>
        </div>
        <div class="project-info-item">
            <b class="project-info-item_label">TEAM</b>
            <p class="project-info-item_value">
                {{ range $.Page.Params.team }}{{ . }}<br />{{ end }}
            </p>
        </div>
        <div class="project-info-item">
            <b class="project-info-item_label">SKILL</b>
            <p class="project-info-item_value">
                {{ range $.Page.Params.skills }}{{ . }}<br />{{ end }}
            </p>
        </div>
    </div>
</div>
